# Ignore all items in GIT repo root by default
/*

# Core
!/.gitignore
!/README.md
!/LICENCE

# Install
!/install

# Shell
!/fish/
!/zsh.d/
!/starship.toml
!/oh-my-posh.json

# Terminal
!/kitty/

# Application launcher
!/rofi/

# GTK 2.0
!/.gtkrc-2.0
!/gtk-2.0/

# GTK 3.0
!/gtk-3.0/

# GTK 4.0
!/gtk-4.0/

# Kvantum
!/Kvantum

# QT
!/qt5ct/
!/qt6ct/

# XDG desktop portal
!/xdg-desktop-portal

# Hyprland
!/hypr/
/hypr/*

!/hypr/hyprland.conf

!/hypr/hyprland.d/00-vars.conf
!/hypr/hyprland.d/01-env.conf
!/hypr/hyprland.d/03-workspaces.conf
!/hypr/hyprland.d/04-autostart.conf
!/hypr/hyprland.d/05-input.conf
!/hypr/hyprland.d/97-looks.conf
!/hypr/hyprland.d/98-windowrules.conf
!/hypr/hyprland.d/99-binds.conf

# Hyprpaper
!/hypr/hyprpaper.conf
!/hypr/wal.png

# Waybar
!/waybar

# Mako
!/mako/

# GIT
!/gitconfig

# Code OSS
!/Code - OSS
/Code - OSS/*

!/Code - OSS/User
/Code - OSS/User/*

!/Code - OSS/User/settings.json
!/Code - OSS/User/keybindings.json
!/Code - OSS/User/snippets/

# CLI/TUI applications
!/nvim/
!/bat/
!/yazi/

!/btop/
/btop/*

!/qalculate/

!/btop/btop.conf
