# Ignore all items in GIT repo root by default
/*

# Keep core
!/.gitignore
!/README.md

# Keep system & WM configs
!/zsh/
!/starship.toml
!/oh-my-posh.json

!/hypr/
/hypr/*

!/hypr/hyprland.conf
!/hypr/binds.conf
!/hypr/scripts

!/hypr/hyprpaper.conf
!/hypr/wal.png

# Keep app configs
!/nvim/
!/yazi/

!/btop/
/btop/*

!/btop/btop.conf
