# Ignore all items in GIT repo root by default
/*

# Core
!/.gitignore
!/README.md
!/LICENCE

# Shell
!/zsh.d/
!/starship.toml
!/oh-my-posh.json

# Terminal
!/kitty/

# Application launcher
!/rofi/

# GTK 3.0
!/gtk-3.0/
/gtk-3.0/*

!/gtk-3.0/assets
!/gtk-3.0/colors.css
!/gtk-3.0/gtk.css
!/gtk-3.0/settings.ini

# GTK 4.0
!/gtk-4.0/
/gtk-4.0/*

!/gtk-4.0/assets
!/gtk-4.0/colors.css
!/gtk-4.0/gtk.css
!/gtk-4.0/settings.ini

# QT
!/qt5ct/
!/qt6ct/

# XDG desktop portal
!/xdg-desktop-portal

# Hyprland
!/hypr/
/hypr/*

!/hypr/hyprland.conf

!/hypr/hyprland.d/00-vars.conf
!/hypr/hyprland.d/01-env.conf
!/hypr/hyprland.d/03-workspaces.conf
!/hypr/hyprland.d/04-autostart.conf
!/hypr/hyprland.d/05-input.conf
!/hypr/hyprland.d/97-looks.conf
!/hypr/hyprland.d/98-windowrules.conf
!/hypr/hyprland.d/99-binds.conf

# Hyprpaper
!/hypr/hyprpaper.conf
!/hypr/wal.png

# Mako
!/mako/

# GIT
!/gitconfig

# CLI/TUI applications
!/nvim/
!/yazi/

!/btop/
/btop/*

!/qalculate/

!/btop/btop.conf
