@define-color borders_breeze #4b4f5c;
@define-color content_view_bg_breeze #181c27;
@define-color error_color_backdrop_breeze #da4453;
@define-color error_color_breeze #da4453;
@define-color error_color_insensitive_backdrop_breeze #582834;
@define-color error_color_insensitive_breeze #582834;
@define-color insensitive_base_color_breeze #171b25;
@define-color insensitive_base_fg_color_breeze #555a64;
@define-color insensitive_bg_color_breeze #1c1f2d;
@define-color insensitive_borders_breeze #2b2f3c;
@define-color insensitive_fg_color_breeze #585d69;
@define-color insensitive_selected_bg_color_breeze #1c1f2d;
@define-color insensitive_selected_fg_color_breeze #585d69;
@define-color insensitive_unfocused_bg_color_breeze #1c1f2d;
@define-color insensitive_unfocused_fg_color_breeze #585d69;
@define-color insensitive_unfocused_selected_bg_color_breeze #1c1f2d;
@define-color insensitive_unfocused_selected_fg_color_breeze #585d69;
@define-color link_color_breeze #0998b1;
@define-color link_visited_color_breeze #7cb7ff;
@define-color success_color_backdrop_breeze #00a77a;
@define-color success_color_breeze #00a77a;
@define-color success_color_insensitive_backdrop_breeze #0f4941;
@define-color success_color_insensitive_breeze #0f4941;
@define-color theme_base_color_breeze #181c27;
@define-color theme_bg_color_breeze #1d212f;
@define-color theme_button_background_backdrop_breeze #1d212f;
@define-color theme_button_background_backdrop_insensitive_breeze #1c1f2d;
@define-color theme_button_background_insensitive_breeze #1c1f2d;
@define-color theme_button_background_normal_breeze #1d212f;
@define-color theme_button_decoration_focus_backdrop_breeze #616190;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #32354d;
@define-color theme_button_decoration_focus_breeze #616190;
@define-color theme_button_decoration_focus_insensitive_breeze #32354d;
@define-color theme_button_decoration_hover_backdrop_breeze #7777b0;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #3a3c58;
@define-color theme_button_decoration_hover_breeze #7777b0;
@define-color theme_button_decoration_hover_insensitive_breeze #3a3c58;
@define-color theme_button_foreground_active_backdrop_breeze #d3dae3;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #585d69;
@define-color theme_button_foreground_active_breeze #d3dae3;
@define-color theme_button_foreground_active_insensitive_breeze #585d69;
@define-color theme_button_foreground_backdrop_breeze #d3dae3;
@define-color theme_button_foreground_backdrop_insensitive_breeze #585d69;
@define-color theme_button_foreground_insensitive_breeze #585d69;
@define-color theme_button_foreground_normal_breeze #d3dae3;
@define-color theme_fg_color_breeze #d3dae3;
@define-color theme_header_background_backdrop_breeze #1d212f;
@define-color theme_header_background_breeze #1d212f;
@define-color theme_header_background_light_breeze #1d212f;
@define-color theme_header_foreground_backdrop_breeze #d3dae3;
@define-color theme_header_foreground_breeze #d3dae3;
@define-color theme_header_foreground_insensitive_backdrop_breeze #d3dae3;
@define-color theme_header_foreground_insensitive_breeze #d3dae3;
@define-color theme_hovering_selected_bg_color_breeze #7d7db9;
@define-color theme_selected_bg_color_breeze #7d7db9;
@define-color theme_selected_fg_color_breeze #d3dae3;
@define-color theme_text_color_breeze #d3dae3;
@define-color theme_titlebar_background_backdrop_breeze #1d212f;
@define-color theme_titlebar_background_breeze #1d212f;
@define-color theme_titlebar_background_light_breeze #1d212f;
@define-color theme_titlebar_foreground_backdrop_breeze #d3dae3;
@define-color theme_titlebar_foreground_breeze #d3dae3;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #d3dae3;
@define-color theme_titlebar_foreground_insensitive_breeze #d3dae3;
@define-color theme_unfocused_base_color_breeze #181c27;
@define-color theme_unfocused_bg_color_breeze #1d212f;
@define-color theme_unfocused_fg_color_breeze #d3dae3;
@define-color theme_unfocused_selected_bg_color_alt_breeze #333452;
@define-color theme_unfocused_selected_bg_color_breeze #333452;
@define-color theme_unfocused_selected_fg_color_breeze #d3dae3;
@define-color theme_unfocused_text_color_breeze #d3dae3;
@define-color theme_unfocused_view_bg_color_breeze #171b25;
@define-color theme_unfocused_view_text_color_breeze #555a64;
@define-color theme_view_active_decoration_color_breeze #7d7db9;
@define-color theme_view_hover_decoration_color_breeze #7d7db9;
@define-color tooltip_background_breeze #1d212f;
@define-color tooltip_border_breeze #4b4f5c;
@define-color tooltip_text_breeze #d3dae3;
@define-color unfocused_borders_breeze #4b4f5c;
@define-color unfocused_insensitive_borders_breeze #2b2f3c;
@define-color warning_color_backdrop_breeze #077181;
@define-color warning_color_breeze #077181;
@define-color warning_color_insensitive_backdrop_breeze #113743;
@define-color warning_color_insensitive_breeze #113743;
